.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height:100%;
  min-height: 580px; 
  padding: 2px;
  transition: 0.3s ease;
}


.product-card img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 20px;
  
}

.product-card p {
  font-size: 14px;

}
.Addbtn {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.Addbtn:hover {
  background-color: #218838;
}


.order-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-form input,
.order-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.submit-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.success-msg {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.out-of-stock {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}
